/* ===== Header ====== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header img {
  width: 150px;
  height: 24px;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin-right: 60px;
}

.header ul li {
  margin-left: 20px;
  cursor: pointer;
}

.header .head-btn {
  display: flex;
}

.head-btn .btn{
  margin-right: 10px;
}


/* ======= Home ======*/

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  padding: 30px 0;
}

.home-text {
  font-size: 2rem;
  margin-right: 25px;
}

.home-text p {
  font-size: 1rem;
  margin: 16px 0;
  color: rgba(90, 86, 86, 0.842);
}


/* ===== Our Clients ===== */

.client-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.client-icons img {
  width: 48px;
  height: 48px;
}

.community{
  margin-top: 60px;
}
.section-title {
  margin-bottom: 16px;
  text-align: center;
}

.section-title p {
  margin-top: 8px;
  font-size: 14px;
  color: grey;
}


/* ====  Community ==== */

.com-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.com-box{
  text-align: center;
  width: 300px;
  padding: 0 20px;
}

.com-icon{
  position: relative;
}
.com-icon h3{
  margin-top: 12px;
}

.rectangle{
  width: 50px;
  height: 49px;
  position: absolute;
  background-color: rgba(131, 224, 131, 0.2);
  top: 15px;
  left: 47%;
  border-radius: 10px 5px 18px 5px;
}

.com-box p{
  margin: 8px 24px 24px 24px;
  font-size: 14px;
  color: rgba(90, 86, 86, 0.842);
  line-height: 20px;
}


/* ======= Body(main) Section ======= */

.body-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  padding-right: 60px;
  margin-left: 30px;
}

.text p{
margin: 16px 0 32px 0;
}


/* ===== counts ===== */
.count-heading{
  min-width: 500px;
}

.count-heading p{
  margin-top: 8px;
}

.counts{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.count-box{
  display: flex;
  flex: 50%;
  align-items: center;
  margin: 20px 0;
}

.count-box img{
  margin-right: 25px;
}


/* ====== Contac us ====== */

.contact-label{
  text-align: center;
}

.contact-label h1{
  margin-bottom: 32px;
  font-size: 3rem;
  color: rgba(77, 76, 76, 0.916);
}


/* ======== Footer ====== */

.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  margin: 0 auto;
  color: white;
}

.footer-info p{
  margin: 32px 0;
  line-height: 28px;
}

.social-links{
  display: flex;
  justify-content: space-around;
}

.social-links img{
  cursor: pointer;
}

.footer-details{
  display: flex;
}

.footer-details h2{
  margin-bottom: 16px;
}

.footer-details ul li{
  cursor: pointer;
  list-style-type: none;
  margin: 10px 0;
}

.company{
  margin-right: 60px;
}