* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.wrapper {
  padding: 0 100px;
  max-width: 1250px;
  min-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header img {
  width: 150px;
  height: 24px;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin-right: 60px;
}

.header ul li {
  margin-left: 20px;
  cursor: pointer;
}

.header .head-btn {
  display: flex;
}

.btn {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid green;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: white;
  color: green;
}

/* ======= Home ======*/

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  padding: 30px 0;
}

.home-text {
  font-size: 2rem;
  margin-right: 25px;
}

.home-text span {
  color: green;
}

.home-text p {
  font-size: 1rem;
  margin: 16px 0;
  color: rgba(90, 86, 86, 0.842);
}

/* ===== Our Clients ===== */

.clients {
  margin: 40px 0;
}

.client-text {
  margin-bottom: 16px;
  text-align: center;
}

.client-text p {
  margin-top: 8px;
  font-size: 14px;
  color: grey;
}

.client-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.client-icons img {
  width: 48px;
  height: 48px;
}
